body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    width: 95%;
    height: 800px;
    border: black 2px solid;
    background: ;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden scroll;
}

#header {
    display: flex;
    width: 98%;
    height: 50px;
    border: black solid 2px;
    padding: 0px;
    background: ;
    margin-top: 10px;
    justify-content: space-between;
    align-content: center;
}

#header>div {
    margin-top: 3px;
}

#header>div:last-child {
    margin-right: 1px;
}

#main_content {
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 800px;
    padding: 0px;
    background: ;
    margin-top: 10px;
    justify-content: center;
    overflow: hidden scroll;
}

#search_bar {
    width: 400px;
    height: 80%;
    border: 1px solid black;
}

#social_buttons {
    width: 200px;
    height: 80%;
    border: 1px solid black;
}

.box_head {
    width: 99%;
  margin-bottom: 20px;
    border: 0px solid black;
    display: grid;
    grid-gap: 1px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
    grid-auto-rows: 280px;
    grid-auto-columns: 180px;
    grid-auto-flow: dense;
    background: ;
    height: 500px;
    overflow: hidden scroll;
    justify-content: center;
}

.box_content {
    width: 99%;
    margin-bottom: 20px;
    border: 0px solid ;
    display: grid;
    grid-gap: 1px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
    grid-auto-rows: 280px;
    grid-auto-columns: 180px;
    grid-auto-flow: dense;
    background: ;
    height: 300px;
    overflow: hidden scroll;
    justify-content: center;
}

.note_div {
    margin-top: 10px;
    width: 271px;
    height: 180px;
    background: grey;
    border: white 1px solid;
    display: flex; 
}

